.top-header {
  background-image: url(https://images.unsplash.com/photo-1560239069-e3225e68267a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Knewave", cursive;
  letter-spacing: 0.188rem;
}
.li-nav {
  letter-spacing: 0.125rem;
}
.btn1 {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn1:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: #4e94fd;
  cursor: pointer;
  box-shadow: 0 7px #0d6efd;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn2 {
  bottom: 36px;
  right: 3px;
  opacity: 0.8;
  color: white;
  position: fixed;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.75rem;
  text-align: center;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn2:hover {
  opacity: 1;
}

.contact {
  background-color: #4e94fd;
  cursor: pointer;
}
.callout {
  padding: 1rem 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
.callout-info {
  --bd-callout-color: var(--bs-primary-text-emphasis);
  --bd-callout-border: var(--bs-primary-border-subtle);
}

.mapFrame {
  height: 450px;
}
@media (max-width: 670px) {
  /* Tetapkan flex-direction milik .flex-list */
  .mapFrame {
    height: 250px;
  }
  .lead {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .accordion-body {
    font-size: 1rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
}
